@addTagHelper *, Microsoft.AspNetCore.Mvc.Taghelpers

@model g201210007_WebOdev.Models.Account

<form asp-action="Signin" asp-controller="Account" method="post">
    <input type="text" name="Email" />
    <input type="password" name="Password" />
    <button>Send Data</button>
</form>